.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.thumbnail {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
    margin-left: 10px;
}

.thumbnail .img {
    overflow: hidden;
    width: 228px;
    height: 200px;
}

.thumbnail .img img{
    max-height: 200px;
    min-height: 200px;
}

.thumbnail .caption {
    text-align: center;
}

.thumbnail .control-panel i {
    font-size: 20px;
    cursor: pointer;
}

.thumbnail .control-panel i.icon.delete {
    background: url("/img/del.png") no-repeat center;
    cursor: pointer;
}

.thumbnail .caption textarea {
    width: 100%;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}